.searchContainer{
  padding: 10vh 0;
  min-height: 100vh;
  background: var(--background-1) ;
}

.searchField {
  width: 90%;
  margin: auto;
}

.searchField input {
  width: 100%;
  margin-top: 3vh;
  padding: 10px;
  font-size: 20px;
  border: none;
  color: white;
  background-color: var(--input-1);
}

.searchImgContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.searchLinks {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.searchImgs {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (min-width: 600px) {
    .searchLinks {
      flex: 33%;
      max-width: 33%;
      padding: 0 4px;
    }
  }

@media screen and (min-width: 800px) {
  .searchLinks {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
}

