.singlePostContainer{
    width: 95%;
    margin: 5vh auto;
    color: white;
}
.singlePostContainer h3{
    margin-bottom: 1vh;
}

.singlePostHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;
}

.singlePostHeader a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white
}

.singlePostIconContainer{
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
}
.singlePostIconContainer p{
    margin-right: 5px;
}

.likeBtn{
    border:none;
    background: none;
}

.postImg{
    width: 100%;
}

.postIcons{
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}

.postDivider{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.verifiedIcon {
    width: 10px;
  }

@media screen and (min-width: 600px) {
    .singlePostContainer {
      width: 40%;
    }
  }