.updateProfileContainer {
  height: 100vh;
  padding: 10vh 2vw;
  background: var(--background-1);
  display: flex;
  justify-content: center;
}

.updateProfileForm {
  display: flex;
  flex-direction: column;
}

.updateProfileForm div {
  display: flex;
  margin-top: 2vh;
}

.updateProfileForm img {
  margin-right: 1vw;
}

.updateProfileForm input {
  width: 95%;
}

.updateProfileForm button {
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.updateProfileIcon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 600px) {
  .updateProfileForm {
    width: 500px;
  }
}
